.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 240px;
  background-color: #fafafa;
  padding: 24px;
  border-radius: 16px;
  gap: 12px;
}

.titleDetail {
  margin: 0;
  font-size: 18px;
}

.image {
  height: 120px;
}

.data {
  display: flex;
}

.price,
.rating {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: grey;
  margin: 4px;
  font-size: 14px;
  color: white;
}

.description,
.category {
  font-size: 16px;
  margin: 0;
}
