.list {
  padding: 5rem;
}

.total {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: black;
  margin: 4px;
  font-size: 24px;
  color: white;
  width: 25%;
  font-weight: bold;
}

.important {
  color: red;
  font-weight: bold;
}

.form {
  border-width: medium;
  border-color: black;
  border-style: double;
  border-radius: 4px;
}

label {
  margin: 20px;
}

button {
  margin: 10px;
  background-color: dodgerblue;
  color: azure;
  border-style: none;
  border-radius: 4px;
}
